@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  text-align: center;
  padding: 30px;
}

button {
  border-color: black;
}

.strikethrough {
  text-decoration: line-through;
}

/* input {
  -webkit-appearance: none;
  -webkit-border-radius:0px;
} */

