@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #f6f7fc;
  
}
.App {
  text-align: center;
  padding: 30px;
}

button {
  border-color: black;
}

.strikethrough {
  text-decoration: line-through;
}

input[type='search'] {
  border-radius: 4px;
  -webkit-appearance: none;
  -webkit-border-radius:4px;
}
